<!DOCTYPE html>
<html>
<head>
  <title>Your App Name</title>
  <%= stylesheet_link_tag 'styles' %> <!-- Замість 'styles' підставте назву вашого CSS файлу -->
</head>
<body>

<header class="site-header">
  <div class="wrap-logo">
    <a href="#logo" class="logo">SPOTI</a>
  </div>
  <nav>
    <%= link_to 'Плейлисти', playlists_path %>
    <%= link_to 'Музика', songs_path %>
    <%= link_to 'Вхід/кабінет користувача', login_path %>
  </nav>
</header>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
